# URL de la API Backend de EventHub para compilación móvil
# En desarrollo: http://localhost:4000/api (o 10.0.2.2 en emulador Android)
# En producción: https://api-eventhub.datahuba.com/api
# Compilar con: flutter build apk --dart-define-from-file=.env
API_URL=https://api-eventhub.datahuba.com/api
