# URL base de la API backend de EventHub
# Para Emulador Android: http://10.0.2.2:4000/api
# Para Celular Físico en WiFi: http://192.168.1.X:4000/api
# Para iOS Simulator / Web: http://localhost:4000/api
API_URL=http://10.0.2.2:4000/api
